@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --primary-light-background: #fafafa;
  --primary-light-foreground: #111;

  --secondary-light-background: #003049;
  --secondary-light-foreground: #fdf0d5;

  --ternary-light-background-200: #ffcd4f;
  --ternary-light-background: #ffb703;
  --ternary-light-background-700: #e6a503;
  --ternary-light-foreground: #111;

  --primary-dark-background: #111;
  --primary-dark-foreground: #fafafa;

  --secondary-dark-background: #323643;
  --secondary-dark-foreground: #f7f7f7;

  --ternary-dark-background-200: #c9efff;
  --ternary-dark-background: #93deff;
  --ternary-dark-background-700: #76b2cc;
  --ternary-dark-foreground: #111;
}

@theme {
  --color-plightbg: var(--primary-light-background);

  --color-tlightbg-200: var(--ternary-light-background-200);
  --color-tlightbg: var(--ternary-light-background);
  --color-tlightbg-700: var(--ternary-light-background-700);

  --color-tdarkbg-200: var(--ternary-dark-background-200);
  --color-tdarkbg: var(--ternary-dark-background);
  --color-tdarkbg-700: var(--ternary-dark-background-700);
}

.theme-primary-light-full {
  background-color: var(--primary-light-background);
  color: var(--primary-light-foreground);
}

.theme-secondary-light-full {
  background-color: var(--secondary-light-background);
  color: var(--secondary-light-foreground);
}

.theme-ternary-light-full {
  background-color: var(--ternary-light-background);
  color: var(--ternary-light-foreground);
}

.theme-ternary-light-foreground {
  color: var(--ternary-light-background);
  font-weight: bold;
}

.theme-primary-dark-full {
  background-color: var(--primary-dark-background);
  color: var(--primary-dark-foreground);
}

.theme-secondary-dark-full {
  background-color: var(--secondary-dark-background);
  color: var(--secondary-dark-foreground);
}

.theme-ternary-dark-full {
  background-color: var(--ternary-dark-background);
  color: var(--ternary-dark-foreground);
}

.theme-ternary-dark-foreground {
  color: var(--ternary-dark-background);
  font-weight: bold;
}

.theme-btn-light {
  color: var(--primary-light-foreground);
  background-color: var(--ternary-light-background);
  border-radius: 6px;
  border: 1px solid var(--ternary-light-background);
}

.theme-btn-dark {
  color: var(--primary-dark-background);
  background-color: var(--ternary-dark-background);
  border-radius: 6px;
  border: 1px solid var(--ternary-dark-background);
}

.theme-btn-light:hover {
  transition: all 0.3s;
  color: var(--primary-light-foreground);
  background-color: var(--ternary-light-background-200);
  border: 1px solid var(--ternary-light-background-200);
}

.theme-btn-dark:hover {
  transition: all 0.3s;
  color: var(--primary-dark-background);
  background-color: var(--ternary-dark-background-200);
  border: 1px solid var(--ternary-dark-background-200);
}

.theme-btn-secondary-light {
  color: var(--primary-light-foreground);
  background-color: var(--primary-light-background);
  border: 1px solid var(--primary-light-foreground);
  border-radius: 6px;
}

.theme-btn-secondary-light:hover {
  transition: all 0.3s;
  color: var(--secondary-light-foreground);
  background-color: var(--secondary-light-background);
  border: 1px solid var(--secondary-light-background);
}

.theme-btn-secondary-dark:hover {
  transition: all 0.3s;
  color: var(--primary-dark-background);
  background-color: var(--primary-dark-foreground);
  border: 1px solid var(--primary-dark-foreground);
}

.theme-btn-secondary-dark {
  /* color: var(--primary-dark-foreground); */
  /* background-color: var(--primary-dark-background); */
  /* border: 1px solid var(--primary-dark-foreground); */
  color: var(--secondary-dark-foreground);
  background-color: var(--secondary-dark-background);
  border: 1px solid var(--secondary-dark-background);
  border-radius: 6px;
  /* background-color: var(--ternary-dark-background-200);
  border: 1px solid var(--ternary-dark-background-200); */
}

.theme-input-light {
  border: 1px solid var(--primary-light-foreground);
  color: var(--primary-light-foreground);
  border-radius: 3px;
}

.theme-input-dark {
  border: 1px solid var(--primary-dark-foreground);
  color: var(--primary-dark-foreground);
  border-radius: 3px;
}

.theme-input-dark::placeholder {
  color: #bbb;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Winky Rough", sans-serif;
}

@layer components {
  .layout-padding {
    @apply px-24;
  }

  .main-container {
    @apply grow;
  }

  .page {
    @apply min-h-[101vh] flex flex-col;
  }
}
