@import "tailwindcss";

:root {
  --primary-light-background: #fafafa;
  --primary-light-foreground: #111;
  --secondary-light-background: #333;
  --secondary-light-foreground: #fafafa;
  --ternary-light-background: #ecdcbf;
  --ternary-light-foreground: #111;

  --primary-dark-background: #111;
  --primary-dark-foreground: #fff;
  --secondary-dark-background: #2b2b2b;
  --secondary-dark-foreground: #fff;
  --ternary-dark-background: #ffb703;
  --ternary-dark-foreground: #000;
}

.theme-primary-light-full {
  background-color: var(--primary-light-background);
  color: var(--primary-light-foreground);
}

.theme-secondary-light-full {
  background-color: var(--secondary-light-background);
  color: var(--secondary-light-foreground);
}

.theme-ternary-light-full {
  background-color: var(--ternary-light-background);
  color: var(--ternary-light-foreground);
}

.theme-ternary-light-foreground {
  color: var(--ternary-light-background);
  font-weight: bold;
}

.theme-primary-dark-full {
  background-color: var(--primary-dark-background);
  color: var(--primary-dark-foreground);
}

.theme-secondary-dark-full {
  background-color: var(--secondary-dark-background);
  color: var(--secondary-dark-foreground);
}

.theme-ternary-dark-full {
  background-color: var(--ternary-dark-background);
  color: var(--ternary-dark-foreground);
}

.theme-ternary-dark-foreground {
  color: var(--ternary-dark-background);
  font-weight: bold;
}

.theme-input-btn-light {
  border: 1px solid var(--primary-light-foreground);
  color: var(--primary-light-foreground);
  border-radius: 3px;
}

.theme-input-btn-dark {
  border: 1px solid var(--primary-dark-foreground);
  color: var(--primary-dark-foreground);
  border-radius: 3px;
}

.theme-input-btn-dark::placeholder {
  color: #bbb;
}

* {
  box-sizing: border-box;
}

@layer components {
  .layout-padding {
    @apply px-24;
  }

  .main-container {
    @apply grow;
  }

  .page {
    @apply min-h-screen flex flex-col;
  }
}
