@import "tailwindcss";

:root {
  /* --primary-light-background: #e5e5e5;
  --primary-light-foreground: #111;
  --secondary-light-background: #14213d;
  --secondary-light-foreground: #fff;
  --ternary-light-background: #fca311;
  --ternary-light-foreground: #111; */

  --primary-light-background: #f1faee;
  /* 
		#f2fbf0	#f5fcf3	#f8fdf6	#fbfefa	#fefffd
	*/
  --primary-light-foreground: #111;
  --secondary-light-background: #1d3557;
  /* 
		#314767	#5a6d87	#8695a9	#b5becb	#e6e9ed
	*/
  --secondary-light-foreground: #fff;
  --ternary-light-background: #a8dadc;
  /* 
		#b1dedf	#c3e5e6	#d4eded	#e5f4f4	#f6fbfb
	*/
  --ternary-light-foreground: #111;

  --primary-dark-background: #023047;
  /* 
		#1e4258	#4d697b #7d919f #afbcc5 #e4e8eb
	*/
  --primary-dark-foreground: #fff;
  --secondary-dark-background: #8ecae6;
  /* 
		#ffbf41	#ffce77	#ffdda1	#ffebc8	#fff8ed
	*/
  --secondary-dark-foreground: #000;
  --ternary-dark-background: #ffb703;
  /* 
		#9acfe9	#b1daee	#c7e5f3	#deeff8	#f4fafd
	*/
  --ternary-dark-foreground: #000;
}

.theme-primary-light {
  background-color: var(--primary-light-background);
  color: var(--primary-light-foreground);
}

.theme-secondary-light {
  background-color: var(--secondary-light-background);
  color: var(--secondary-light-foreground);
}

.theme-ternary-light {
  background-color: var(--ternary-light-background);
  color: var(--ternary-light-foreground);
}

.theme-primary-dark {
  background-color: var(--primary-dark-background);
  color: var(--primary-dark-foreground);
}

.theme-secondary-dark {
  background-color: var(--secondary-dark-background);
  color: var(--secondary-dark-foreground);
}

.theme-ternary-dark {
  background-color: var(--ternary-dark-background);
  color: var(--ternary-dark-foreground);
}

* {
  box-sizing: border-box;
}

@layer components {
  .layout-padding {
    @apply px-24;
  }

  .main-container {
    @apply grow;
  }

  .page {
    @apply min-h-screen flex flex-col;
  }

  .current-nav-link {
    color: var(--ternary-light-background);
  }
}
